NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_OR_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
BREVO_SMTP_USER=
BREVO_SMTP_PASS=
FROM_EMAIL=
NEXT_PUBLIC_APP_URL=
RESEND_API_KEY=
SUPABASE_DATABASE_PASSWORD=
NEXT_PUBLIC_VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=
PUSH_WEBHOOK_SECRET=

